<div class="onsale-bg">
	<div class="container">
		<div class="row">
<div class="col-xs-12 latdec">	
	<div class="wdonsale">
	  {% for product in products %}
	    <div class="col cless">{{ product }}</div>
	  {% endfor %}
	</div>	
</div>
</div>
</div>
</div>