<div class="tab-pane fade" role="tabpanel" id="latestp">
<div class="rless">
  <div class="latest">
  {% for product in products %}
    <div class="col cless">{{ product }}</div>
  {% endfor %}
  </div>
</div>
</div>
</div>
</div>
</div>