<div class="discount-today">
<div class="bg-white special-section plr-0 section-mt section-pb">
<div class="container">
<div class="row">
<div class="col-md-9 w-78 p-0">
	{# <div class="head-t">
		<h4 class="heading"><span>{{ heading_title }}</span></h4>		
	</div> #}
  <div class="wbspecial">
  	{% for product in products %}
    	<div class="col cless">{{ product }}</div>
  	{% endfor %}
   </div>
</div>
